*{
    margin: 0px;
    padding: 0px;
}
.customHome-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.customHome-heading h1{
    font-size: 3em;
    
}
.customHome-heading p{
    font-size: 1.5em;
    
}
.customHome-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customHome-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 30px;
}
.customHome-para p{
    font-size: 1.2em;
}
.customHome-para button{
    margin-top: 30px;
    padding: 15px 35px 15px 35px;
    background-color: rgba(196, 226, 255, 0.756);
    border: 2px solid rgba(196, 226, 255, 0.756);
    cursor: pointer;
}
.customHome-para button:hover{
    background-color: rgba(132, 194, 255, 0.756);
    transition: 0.4s;
}
@media screen and (max-width :800px) {
    .customHome-heading h1{
        font-size: 2em;
        
    }
    .customHome-heading p{
        font-size: 0.9em;
        
    }
    .customHome-para p{
        font-size: 1em;
    }
}
@media screen and (max-width : 520px) {
    .customHome-heading h1{
        font-size: 1.2em;
        
    }
    .customHome-heading p{
        font-size: 0.7em;
        
    }
}